<div>
    <form action="/tasks" method="post">
        <div class="input-group mb-3">
            <label for="task" class="visually-hidden">Task</label>
            <input
                class="form-control"
                type="text"
                name="task"
                id="task"
                placeholder="Write a task..."
                required>
            <button class="btn btn-primary" type="submit">Add task</button>
        </div>
    </form>
</div>