{% extends layout %} {% block content %}
<main class="container mb-3">
    <div>
        <form action="/tasks" method="post">
            <div class="input-group mb-3">
                <label for="task" class="form-label visualy-hiden" hidden
                    >Task
                </label>
                <input
                    type="text"
                    class="form-control"
                    name="task"
                    id="task"
                    placeholder="Write a task"
                    required
                />
                <button class="btn btn-primary" type="submit">Add task</button>
            </div>
        </form>
        <div>
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between">
                    {{ task.task }}
                    <div class="d-flex">
                        <div class="form-check me-3">
                            <input
                                class="for-check-input"
                                type="checkbox"
                                value="{{ task.completed }}"
                                name="task-{{ task.id }}"
                                {% if task.completed %}chexked{% endif %}
                            />
                            <label
                                class="form-check-label"
                                for="task-{{ task.id }}"
                            >
                                Completed
                            </label>
                        </div>
                        <a
                            href="/tasks/{{ task.id }}/delete"
                            class="btn btn-sm btn-danger"
                        >
                            Delete task
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
<script src="/js/complete.js"></script>
{% endblock %}
